body{
    background-color: rgb(5, 5, 5);
}
.login{
    width: 350px;
    height:350px ;
    text-align: center;
    border:1px solid grey;
    border-radius:10px ;
    margin: 30px auto;
    background-color: white;
}
/* label{
    text-align: left;
} */
button{
    width: 150px;
    height: 40px;
    border-radius:5px ;
    border: none;
    background-color: rgb(255, 179, 192);
}
button:hover{
    width: 222px;
    height: 44px;
}
/* a{
    float: right;
    padding-right: 40px;
    margin-top: 20px;
    text-decoration: none;
} */
.enter{
    width: 250px;
    height: auto;
    border:1px solid #167bff;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.username{
    width: 25px;
    vertical-align: middle;
}
.password{
    width: 15px;
    vertical-align: middle;
}
.enter input{
    border:none;
    outline: none;
    height: 30px;
    width: 200px;
    padding-left: 15px;
}
.input{
    text-align: left;
    padding-left:50px ;
}